*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home-title h1{
    font-size: 60px;
    font-weight: 400; 
    color: #ffffff;
    position: absolute;
    top: 400px;
    left: 550px;
    
    z-index: 1;

}

.home-title h2{
    font-size: 40px;
    font-weight: 400; 
    color: #ffffff;
    position: absolute;
    top: 30px;
    left: 70px;
    
    z-index: 1;

}


.placeholder-logo{
    width: 70px;
    height: auto;
    position: fixed;
    left: 180px;
    top:20px;
    z-index: 0;
    
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:blue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }



.container{
    color: #ffffff;
    position: absolute;
    top: 900px;
    left: 450px;
    

}

.banner-text{
    width: 100%;
    position: relative;

}

.banner-text ul{
    color: #ffffff;
    float: right;


}

.banner-text ul2{
    color: #ffffff;
    position: absolute;
    right: 450px;
    top:35px;
    font-size: 16px;
    font-weight: 500;
    


}

.banner-text ul title{
    display: inline-block;
    padding: 30px 10px;
    text-transform: uppercase;
    font-size: 40px;
    position: absolute;
    left: 80px;
    top:0px;
    font-weight:500;
    

}

.banner-text ul li{
    display: inline-block;
    padding: 35px 25px;
    text-transform: uppercase;
    

}


.modal-bg2{
    position: fixed;
    width: 100%;
    height: 100 vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-purchase {
    background-color: white;
    width: 50%;
    height: 53%;
}

.animation-area{
    background: linear-gradient(to left, rgb(0, 69, 231), rgb(0, 219, 243));
    width:100%;
    height: 100vh;
    z-index: -5;

}


.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;

}


.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
   

}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 14s;

}
.box-area li:nth-child(2){
    left: 30%;
    width: 30px;
    height: 30px;
    animation-delay: 5s;
    animation-duration: 12s;

}
.box-area li:nth-child(3){
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 25s;

}
.box-area li:nth-child(4){
    left: 42%;
    width: 30px;
    height: 30px;
    animation-delay: 22s;
    animation-duration: 27s;
}

.box-area li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-duration: 20s;
    animation-delay:8s;
}
.box-area li:nth-child(6){
    left: 5%;
    width: 150px;
    height: 150px;
    animation-duration: 25s;
    animation-delay:12s;
}
.box-area li:nth-child(7){
    left: 28%;
    width: 30px;
    height: 30px;
    animation-duration: 10s;
    animation-delay:25s;
}

.box-area li:nth-child(8){
    left: 50%;
    width: 180px;
    height: 180px;
    animation-duration: 30s;
    animation-delay:0s;
}


@keyframes animate{
    0%{
        transform: translateY(200px) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }

}

.row h1{

    position: absolute;
    left: 300px;
    top:100px;

}

.row p1{
    position: absolute;
    left: 300px;
    top:140px;
}

.row p2{
    position: absolute;
    left: 300px;
    top:160px;
}

.col-1{

    
    height: 500px;
    width: 1150px;
    position: absolute;
    left: 80px;
    top:200px;
    background-color: white;
    opacity: .8;
    overflow: auto;
    white-space: nowrap;
    z-index: 0;

    

}

.table1-header{

    
    height: 30px;
    width: 1150px;
    position: absolute;
    left: 80px;
    top:170px;
    background-color: white;
    opacity: .82;
    overflow: auto;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}









.col-2{

    
    height: 500px;
    width: 400px;
    position: absolute;
    left: 1350px;
    top:200px;
    background-color: white;
    opacity: .8;
    overflow: auto;
    white-space: nowrap;
    

    

}

.table2-header{

    
    height: 30px;
    width: 400px;
    position: absolute;
    left: 1350px;
    top:170px;
    background-color: white;
    opacity: .82;
    overflow: auto;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    z-index: 1;

    

}

.panel-heading{
    font-weight: 300;
    font-size: 20px;
    font-weight: 700;
}

.panel-body{
    font-size: 16px;
}

.panel-body:after{
    
    content: "";
  display: table;
  clear: both
}

.panel-title{
    float: left;
    width: 10%;
}

.article-price{
    float: left;
    width: 15%;
}

.article-seller{

    float: left;
    width: 35%;

}

.article-description{
    float: left;
    width: 35%;

}


.navbar-default {
    text-align: center;
    color: white;
}

.navbar {
    position: absolute;
    left: 650px;
    top:940px;
}

.navigation {
    position: absolute;
    right: 20px;
    top:20px;
    z-index: 5;
}




.modal{
    display: none;
    

}

.modal:target {
    visibility: visible;
    opacity: 1;
  }

.modal-dialog{

    height: 600px;
    width: 650px;
    position: absolute;
    left: 700px;
    top:200px;
    background:white;
    transition: all 5s ease-in-out;
}

.modal-receipt{

    height: 600px;
    width: 650px;
    position: absolute;
    left: 700px;
    top:200px;
    background: white;
    transition: all 5s ease-in-out;
}

.modal-submission{

    height: 600px;
    width: 650px;
    position: absolute;
    left: 700px;
    top:200px;
    background: white;
    transition: all 5s ease-in-out;
}

.modal-submission h1{

    font-size: 20px;
    position: absolute;
    top:50px;

}

.modal-loading{

    height: 400px;
    width: 400px;
    position: absolute;
    left: 700px;
    top:200px;
    background: white;
    transition: all 5s ease-in-out;

}

.modal-loading h1{

    font-size: 20px;
    position: absolute;
    top:50px;

}

.modal-error{

    height: 400px;
    width: 400px;
    position: absolute;
    left: 700px;
    top:200px;
    background: white;
    transition: all 5s ease-in-out;

}



.loading-animation{

    
    position: absolute;
    left: 160px;
    top:200px;



}

.modal .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

.modal-close{
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }


.collapse {
    list-style-type: none;
    font-size: 20px;
}

.ethereum-logo{
    width: 55px;
    height: auto;
    position: fixed;
    left: 800px;
    top:810px;
    
}

.ipfs-logo{
    width: 90px;
    height: auto;
    position: fixed;
    left: 1000px;
    top:810px;
}


.uga-engr{
    width: 300px;
    height: auto;
    position: fixed;
    left: 900px;;
    top:730px;
}

.front-link {
    background-color: black;
  color: white;
  padding: 50px 100px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 50;
}

